<style>
    .start-fab {
        --mdc-extended-fab-label-text-size: 1.1rem;
        transform: scale(1.12);
    }
</style>

<div class="content">
    <h1 class="mat-headline-1">OsInt Challenge</h1>
    <button mat-fab extended color="primary" class="start-fab" (click)="startGame()">
        <mat-icon>play_circle</mat-icon>
        Start
    </button>
    <mat-divider></mat-divider>
    <h3>Welcome</h3>
    <mat-list class="rules">
        <mat-list-item>
            <span matListItemLine>Test your OSINT skills by figuring out where in the world each photo was taken.</span>
            <span matListItemLine>You will play 3 short rounds, and the closer your guess is, the more points you
                earn!</span>
        </mat-list-item>
    </mat-list>
    <h5>How to play the game</h5>
    <mat-list class="example-list-wrapping">
        <mat-list-item>
            <span matListItemTitle>Look closely</span>
            <span matListItemLine>Each round shows a real-world image. Zoom in and examine the details — signs,
                buildings,
                landscapes, anything can be a clue.</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Make your guess</span>
            <span>Enter the latitude and longitude where you think the photo was taken. There is no map for guessing, so
                trust your instincts and research skills.</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Submit your guess</span>
            <span matListItemLine>Once you submit your guess: We will calculate how far you are from the answer and you
                will see a map with your guess, the correct location and the distance between them</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Keep going</span>
            <span>Move on to the next round until all 3 rounds are complete</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Score</span>
            <span matListItemLine> Get within 50 metres of the correct location and you will score points. The closer
                you are, the more points you earn. A perfect (or near-perfect) guess can earn up to 15 points.
            </span>
            <span matListItemLine>Your final score the total from all three rounds.</span>
        </mat-list-item>
    </mat-list>
    <h6>Game Complete</h6>
    <mat-list>
        <mat-list-item>
            <span matListItemTitle>At the end</span>
            <span matListItemLine>You will see your final score, the distance of each round and a summary of each
                round.</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemLine>You can choose to play a new game at the final page or navigate back to the home
                screen.</span>
        </mat-list-item>
    </mat-list>


</div>