.end-content {
    min-height: 100vh;
    padding: 22px 16px 34px;
    display: grid;
    gap: 14px;
    max-width: 50rem;
    margin: 0 auto;
    align-content: start;
}

.end-head {
    display: grid;
    gap: 6px;
}

.end-title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.end-title mat-icon {
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
}

.end-header-title {
    font-size: 2.5rem;
}

.score-card {
    border-radius: 16px;
    padding: 14px 16px 18px;
    display: grid;
    gap: 8px;
}

.score-label {
    margin: 0;
    font-weight: 600;
    opacity: 0.9;
    font-size: 0.9rem;
}

.score {
    margin: 0;
    font-weight: 800;
    font-size: 2.25rem;
    letter-spacing: 0.2px;
}

.actions {
    display: grid;
    gap: 12px;
    margin-top: 6px;
    grid-template-columns: auto auto;
    align-items: center;
}

.action-btn {
    width: min(360px, 100%);
    justify-self: start;
    height: 4rem;
    border-radius: 32px;
}


.primary-btn {
    background-color: #387AFF;
    box-shadow: none;
    color: #F2F6FE;
    font-size: 1.25rem;
}

.secondary-btn {
    color: #387AFF;
    box-shadow: none;
    background-color: #F2F6FE;
    font-size: 1.25rem;
}
